 @import "tailwindcss";


:root {
  --primary-color: #1A1AB3FF;
  --background-color: #fff;
  --text-color: rgb(0, 0, 0);
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}
body {
  line-height: 1.5;
  font-weight: 400;
  color: var(--text-color);
  background-color: var(--background-color);
  width: 100%;
  height: 100%;
}
.Toastify__toast-container--top-right{
  margin-top: 79px !important;
}